## Лабораторная работа 2. Работа с основными библиотеками анализа данных. Логистическая регрессия.

Постарайтесь оформить всю работу как один монолитный рассказ/отчет. Избегайте дублирования кода. Избегайте использования циклов, вместо этого ищите готовый алгоритм в пакетах. Подписывайте все графики, а также их оси, если график содержит несколько кривых, то обязательно пользуйтесь легендой. Также неукоснительно соблюдайте PEP8. За несоблюдение этих простейших правил итоговые баллы могут быть снижены безапелляционно.

### 1. (5 баллов) More NumPy

![](http://static.wixstatic.com/media/7b913d_7d27b1ff5fe54cc79c80d2cc0e319d92~mv2.jpg)

Во всех заданиях данного раздела запрещено пользоваться циклами, а также использовать *builtin* функции *map*, *filter*, *zip*. Таким образом все функции в заданиях должны быть реализованы средствами самого пакета *numpy*. Для каждого задания привидите **не менее четырех** примеров использования, тестирующих реализацию функций. Предварительно полезно "по диагонали" ознакомиться с [документацией пакета](https://docs.scipy.org/doc/numpy-1.13.0/reference/), и детально с описанием класса [numpy.ndarray](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.ndarray.html).

In [1]:
import numpy as np

**1. (1 балл)** Реализуйте функцию, которая получает на вход матрицу и масштабирует каждый её столбец, а именно вычитает из столбца его среднее значение и делит столбец на стандартное отклонение. Убедитесь, что в функции не будет происходить деления на ноль.

In [ ]:
def matrix_scaler(X):
    # YOUR CODE HERE

**2. (1 балл)** Реализуйте функцию для подсчёта произведения ненулевых элементов на диагонали прямоугольной матрицы. Если ненулевых элементов нет, функция должна возвращать *None*.

In [ ]:
def nonzero_diag_product(X):
    try:
        prod = np.prod(np.diag(X))
        if prod == 0:
            return None
        else:
            return prod
    except:
        return ValueError("Something is worng with the array, try again")

**3. (2 балла)** Даны две вещественные матрицы *X* и *Y* с одинаковым числом столбцов и, в общем случае, различным числом строк. Необходимо реализовать функцию, вычисляющую матрицу попарных евклидовых расстояний между всеми элементами декартового произведения строк *X* и *Y* (аналог *sklearn.metrics.pairwise_distances*). Рекомендуется обратить внимание на функции *np.dot*, *np.repeat*, *np.reshape*, *np.transpose*, *np.sqrt*, *np.sum* и *np.power*. Но не запрещается пользоваться аналогами.

In [ ]:
from scipy.spatial.distance import cdist


def count_euclidean_distance(X, Y):
    xs = X.shape
    ys = Y.shape
    if len(xs) != 2:
        raise ValueError('X must be 2-dimensional array.')
    if len(ys) != 2:
        raise ValueError('X must be 2-dimensional array.')
    if xs[1] != ys[1]:
        raise ValueError('X and Y must have the same number of columns.')
    cartesian = numpy.transpose([numpy.tile(X, len(Y)), numpy.repeat(Y, len(X))])
    distances = cdist(catresian)
    return distances

**4. (1 балл)** Реализуйте функцию, которая для заданной матрицы находит:
 - определитель
 - след
 - наименьший и наибольший элементы
 - норму Фробениуса
 - собственные числа
 - обратную матрицу

In [ ]:
class MatrixStats(dict):
    
    @classmethod
    def calculate(cls, matrix):
        return get_stats(matrix)
    

def get_stats(X):
    stats = MatrixStats()
    stats["det"] = np.linalg.det(X)
    stats["trace"] = np.trace(X)
    stats["max"] = np.amax(X)
    stats["min"] = np.amin(X)
    stats["norm"] = np.linalg.norm(X)
    stats["eigvals"] = np.linalg.eig(X)
    stats["inv"] = np.linalg.inv(X)
    return stats

stats = MatrixStats.calculate(np.eye(4))
assert stats['det'] == 1.0
assert (stats['mat'] == np.eye(4)).all()
assert (stats['inv'] == np.eye(4)).all()
assert (stats['eigvals'] == np.ones(4)).all()
assert stats['max'] == 1.0
assert stats['min'] == 0.0
assert stats['norm'] == 2.0
assert stats['trace'] == 4.0

### 2. (5 баллов) More Pandas

![](https://metrouk2.files.wordpress.com/2015/10/panda.jpg)

Загрузите данные о пассажирах Титаника из файлов *titanic_data.csv* и *titanic_surv.csv* и ответьте на вопросы ниже. Каждый ответ поясните.

Информация о файлах: 
 - *titanic_data.csv* содержит различную информацию о пассажирах Титаника (билет, класс, возраст и т.п.)
 - *titanic_surv.csv* содержит для каждого пассажира из первого файла информацию о том, выжил ли этот пассажир (метка 1) или нет (метка 0)

In [2]:
import pandas as pd

**1. (2 балла)** Сделайте join двух датафреймов в один по полю индекса. Опишите данный датасет: какое расределение женщин/мужчин в нем? Сколько пассажиров ехало в каждом классе? Какой средний/минимальный/максимальный возраст пассажиров? Сколько было выживших пассажиров?

In [3]:
titanic_info = pd.read_csv("./titanic_data.csv", sep=",").set_index("PassengerId")
titanic_surv = pd.read_csv("./titanic_surv.csv", sep=",")
titanic_df = pd.concat([titanic_info, titanic_surv], axis=1)
titanic_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,1.0
2,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,1.0
3,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,1.0
4,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S,0.0

In [25]:
# распределение
print("1) На Титанике плыло {} мужчин и {} женщин.".format(len(titanic_df[titanic_df["Sex"] == "male"]),
                                                        len(titanic_df[titanic_df["Sex"] == "female"])))
# возраст
print("\n2) Минимальный возраст: {}, максимальный возраст: {}".format(titanic_df["Age"].min(), titanic_df["Age"].max()))
print("Средний возраст: {:.2f}".format(titanic_df["Age"].mean()))
# классы
print("\n3) Распределение по классам:")
print(titanic_df["Pclass"].value_counts())
# выживших
print("\n4)Выжившие: {}".format(len(titanic_df[titanic_df["Survived"] == 1])))

1) На Титанике плыло 577 мужчин и 314 женщин.

2) Минимальный возраст: 0.42, максимальный возраст: 80.0
Средний возраст: 29.70

3) Распределение по классам:
3.0    491
1.0    216
2.0    184
Name: Pclass, dtype: int64

4) Выжившие: 342

**2. (2 балла)** Верно ли, что женщины выживали чаще мужчин? Какие пассажиры выживали чаще: с более дешевыми или дорогими билетами? Верно ли, что чаще выживали более молодые пассажиры?

In [24]:
pd.crosstab(titanic_df["Survived"], titanic_df["Sex"], normalize=True)

Sex         female      male
Survived
0.0       0.216854  0.398876
1.0       0.135955  0.248315

In [30]:
pd.crosstab(titanic_df["Fare"], titanic_df["Survived"])

Survived  0.0  1.0
Fare
0.0000     11    4
4.0125      1    0
5.0000      1    0
6.2375      0    1
6.4375      1    0
6.4500      1    0
6.4958      2    0
6.7500      2    0
6.8583      0    1
6.9500      1    0
6.9750      2    0
7.0458      1    0
7.0500      5    2
7.0542      1    1
7.1250      2    2
7.1417      0    1
7.2250      7    5
7.2292      8    7
7.2500      9    4
7.3125      1    0
7.4958      2    1
7.5208      0    1
7.5500      3    1
7.6292      1    0
7.6500      1    3
7.7250      0    1
7.7292      0    1
7.7333      3    1
7.7375      1    1
7.7417      1    0
...       ...  ...
80.0000     1    1
81.8583     0    1
82.1708     1    1
83.1583     1    2
83.4750     2    0
86.5000     2    1
89.1042     2    0
90.0000     4    0
91.0792     2    0
93.5000     1    1
106.4250    2    0
108.9000    1    1
110.8833    3    1
113.2750    0    3
120.0000    2    2
133.6500    2    0
134.5000    1    1
135.6333    3    0
146.5208    1    1
151.5500    1    3
153.4625    2    1
164.8667    0    2
211.3375    1    2
211.5000    1    0
221.7792    1    0
227.5250    0    4
247.5208    1    1
262.3750    2    0
263.0000    3    1
512.3292    2    1

[248 rows x 2 columns]

In [23]:
# titanic_df.groupby(["Survived", "Age"]).agg(np.count_nonzero)
pd.crosstab(titanic_df["Survived"], titanic_df["Age"], normalize=True)

Age,0.42,0.67,0.75,0.83,0.92,1.0,2.0,3.0,4.0,5.0,...,62.0,63.0,64.0,65.0,66.0,70.0,70.5,71.0,74.0,80.0
Survived,,,,,,,,,,,,,,,,,,,,,
0.0,0.000000,0.001403,0.001403,0.001403,0.000000,0.004208,0.007013,0.004208,0.007013,0.004208,...,0.001403,0.001403,0.001403,0.001403,0.001403,0.001403,0.001403,0.001403,0.001403,0.001403
1.0,0.001403,0.000000,0.001403,0.001403,0.001403,0.005610,0.007013,0.004208,0.007013,0.001403,...,0.004208,0.001403,0.001403,0.002805,0.000000,0.001403,0.000000,0.001403,0.000000,0.000000

**3. (1 балл)** Сгруппируйте записи по классам пассажиров, в каждой группе посчитайте средний возраст. Верно ли, что во всех классах эта величина примерно одинакова?

In [27]:
titanic_df.groupby(["Pclass"])["Age"].mean()

Pclass
1.0    38.233441
2.0    29.877630
3.0    25.140620
Name: Age, dtype: float64

Нет, это не совсем верно: более или менее близки по возрасту пассажиры 2 и 3 классов, а пассажиры 1 класса старше на ±10 лет.

### 3. (10 баллов) Scikit-learn and Logistic Regression
![](https://i.ytimg.com/vi/1nWFHa6K23w/maxresdefault.jpg)
<!-- .element height="10%" width="10%" -->

Задача: по 38 признакам, связанных с заявкой на грант (область исследований учёных, информация по их академическому бэкграунду, размер гранта, область, в которой он выдаётся) предсказать, будет ли заявка принята. Датасет включает в себя информацию по 10884 заявкам на гранты, которые были поданы в университете Мельбурна в период с 2004 по 2008 год.

Полную версию данных с большим количеством признаков можно найти на официальной [странице соревнования](https://www.kaggle.com/c/unimelb).

In [18]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.feature_extraction import DictVectorizer

**1. (1 балл)** Разделите данные на датафрейм объект-признак и целевую переменную. Разделите датафрейм объект-признак на два датафрейма, состоящих только из вещественных и категориальных признаков соответсвенно. У вас должны получиться следующие датафреймы: X_cat, X_real, y. Также проверьте, есть ли в данных пропуски? К чему приведет удаление всех пропущенных данных?

In [74]:
unimelb_data = pd.read_csv('unimelb_data.csv')
unimelb_data = unimelb_data[unimelb_data["Grant.Status"] != np.nan]
unimelb_data.head()

,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,RFCD.Percentage.3,...,Dept.No..1,Faculty.No..1,With.PHD.1,No..of.Years.in.Uni.at.Time.of.Grant.1,Number.of.Successful.Grant.1,Number.of.Unsuccessful.Grant.1,A..1,A.1,B.1,C.1
0,1.0,NaN,NaN,A,280199.0,100.0,0.0,0.0,0.0,0.0,...,3073.0,31.0,NaN,Less than 0,0.0,0.0,4.0,2.0,0.0,0.0
1,1.0,2B,10A,B,280103.0,30.0,280106.0,30.0,280203.0,40.0,...,2538.0,25.0,Yes,more than 15,0.0,0.0,6.0,12.0,2.0,2.0
2,1.0,29A,10B,A,321004.0,60.0,321216.0,40.0,0.0,0.0,...,2923.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,5.0,2.0
3,1.0,40D,10B,C,270602.0,50.0,320602.0,50.0,0.0,0.0,...,2678.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,13.0,3.0
4,0.0,59C,10A,A,260500.0,34.0,280000.0,33.0,290000.0,33.0,...,2153.0,19.0,Yes,>5 to 10,0.0,0.0,3.0,0.0,1.0,0.0

In [75]:
X = unimelb_data.drop('Grant.Status', 1)
y = unimelb_data['Grant.Status']

In [76]:
numeric_cols = ['RFCD.Percentage.1', 'RFCD.Percentage.2', 'RFCD.Percentage.3', 
                'RFCD.Percentage.4', 'RFCD.Percentage.5',
                'SEO.Percentage.1', 'SEO.Percentage.2', 'SEO.Percentage.3',
                'SEO.Percentage.4', 'SEO.Percentage.5',
                'Year.of.Birth.1', 'Number.of.Successful.Grant.1', 'Number.of.Unsuccessful.Grant.1']
categorical_cols = list(set(X.columns.values.tolist()) - set(numeric_cols))

__Проверка на пропуски__

Хотя вообще уже из ```head()``` видно, что они там есть…

In [77]:
unimelb_data.isnull().values.any()

True

In [78]:
print("Если удалить все объекты с na, то из {} объектов останется {}.".format(len(unimelb_data), len(unimelb_data.dropna())))

Если удалить все объекты с na, то из 10884 объектов останется 320.

__Разбиваем на разные датафреймы__

In [79]:
X_cat = unimelb_data[categorical_cols]
X_real = unimelb_data[numeric_cols]
y = unimelb_data["Grant.Status"]

**2. (1 балл)** Заполните пропущенные вещественные значения в X_real нулями и средними по каждому из признаков (столбцу). Проведите масштабирование данных, используя класс [*sklearn.preprocessing.StandardScaler*](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html). Полученные датафреймы назовите X_real_zeros, X_real_means. Преобразуйте все категориальные признаки к строковому формату данных, замените все пропуски np.nan на 'NAN'. К полученному датафрейму примените технику one-hot encoding, изпользуя [*sklearn.feature_extraction.DictVectorizer*](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.DictVectorizer.html) и/или [*sklearn.preprocessing.OneHotEncoder*](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html). Полученный датафрейм назовите X_cat_oh. Объедините данные вместе в один датафрейм: X_real_zeros с X_cat_oh и X_real_means c X_cat_oh, полученные датафремы назовите X_full_zeros и X_full_means соответственно.

In [81]:
X_real_zeros = X_real.fillna(0)
X_real_means = X_real.fillna(X_real.mean())

In [82]:
X_cat = X_cat.applymap(str)
X_cat = X_cat.fillna("NAN")

le = LabelEncoder()
X_cat_oh = X_cat
for row in X_cat_oh:
    le.fit(X_cat[row].unique())
    X_cat_oh[row] = le.transform(X_cat_oh[row])

In [83]:
X_full_zeros = X_real_zeros.join(X_cat_oh)
X_full_means = X_real_means.join(X_cat_oh)

**3. (1 балл)** Разделите данные на обучующуюся и тестовую выборки как для X_full_zeros, так и для X_full_means. Используйте *sklearn.model_selection.train_test_split* c параметрами test_size=0.3, random_state=0. Полученные данные назовите при помощи добавления префикса train и test соответственно.

In [84]:
X_zeros = X_full_zeros.as_matrix()
X_means = X_full_means.as_matrix()
y = y.as_matrix()
# X_train, X_test, y_train, y_test
X_zeros_train, X_zeros_test, y_zeros_train, y_zeros_test = train_test_split(X_zeros, y, test_size=0.3, random_state=0)
X_means_train, X_means_test, y_means_train, y_means_test = train_test_split(X_means, y, test_size=0.3, random_state=0)

**4. (2 балла)** Обучите логистическую регрессию c l2-регуляризацией на данных полученных в предыдущем задании. Используйте класс *[sklearn.linear_model.LogisticRegressionCV](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegressionCV.html)*, в конструктор передайте параметры Cs=[0.01, 0.05, 0.1, 0.5, 1, 5, 10], cv=3, penalty='l2', scoring='roc-auc'. Ответьте на вопросы. На каких данных (где вещественные пропуски заполнены нулями или средними) метрика roc-auc выше? Как выглядит roc-кривая для лучшей модели (используйте функцию [*sklearn.metrics.roc_curve*](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html))? Какова площадь под roc-кривой для лучшей модели? Какая при этом accuracy?

In [85]:
logreg_zeros = LogisticRegressionCV(Cs=[0.01, 0.05, 0.1, 0.5, 1, 5, 10], cv=3, penalty='l2', scoring='roc_auc')
logreg_means = LogisticRegressionCV(Cs=[0.01, 0.05, 0.1, 0.5, 1, 5, 10], cv=3, penalty='l2', scoring='roc_auc')

In [87]:
logreg_zeros.fit(X_zeros_train, y_zeros_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [46]:
logreg_means.fit(X_means_train, y_means_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

YOUR ANSWER HERE

**5. (2 балл)** Обучите логистическую регрессию с l2-регуляризаций по аналогии с предыдущим заданием, но используя балансировку и стратификацию классов. Для стратификации вам надо снова разбить на обучение и тест, используя дополнительный параметр stratify=y. Для балансировки классов в предсказании передайте в конструктор логистической регрессии дополнительный параметр class_weight='balanced'. Используйте данные, на которых получена лучшая метрика roc-auc в предыдущем задании. Ответьте на вопросы. Как изменились результы? Как вы думаете почему? Всегда ли балансировка и стратификация приведет к улучшению метрики roc-auc на обучающей выборке? на тестовой?

In [ ]:
# YOUR CODE HERE

YOUR ANSWER HERE

**6. (2 балла) ** Преобразуйте вещественные признаки модели при помощи полиномиальных признаков степени 3 (использйте вещественные признаки предыдущего задания). Для этого используйте класс [*sklearn.preprocessing.PolynomialFeatures*](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html). Обучите логистическую регрессию с l2-регуляризацией по аналогии с предыдущим заданием. Ответьте на вопросы. Как изменились результаты? Смогли ли мы улучшить результат? Или мы переобучились?

*Примечание: в этом задании надо отдельно преобразовать вещественные признаки и снова объеденить их с категориальными и также заново разбить всю выборку на обучение и тест, используя технику стратификации классов.*

In [ ]:
# YOUR CODE HERE

YOUR ANSWER HERE

**7. (1 балл)** Обучите логистическую регрессию с l1-регуляризацией на стратифицированных отмасштабированных выборках по аналогии с 5м заданием, используя балансировку классов при помощи весов (данные из 5-го задания). Для этого передайте в конструктор sklearn.linear_model.LogisticRegressionCV параметр penalty='l1'. Ответьте на вопросы. Как изменились значения метрики roc-auc? Какие вещественные признаки имеют нулевые веса в итоговой модели?

In [ ]:
# YOUR CODE HERE

YOUR ANSWER HERE

### 4. (10 баллов) Бонусное задание
![](https://i.imgflip.com/249qsq.jpg)

**1. (4 балла)**  Известно, что процесс обучения линейной регресси в виде оптимизации следующего функционала
$$
MSE = ||Xw - y||^2 \to \min_{w},
$$
допускает аналитическое решение вида $w_* = (X^TX)^{-1}X^Ty$. Докажите это, показав аналитически, что вектор $w_*$ доставляет глобальный минимум квадритичного функционала MSE. Также привидете примеры построения регрессии при помощи аналитической формулы и библиотечными средствами на двумерных синтетических данных.

YOUR ANSWER HERE

In [ ]:
# YOUR CODE HERE

**2. (6 баллов)** В этом задании вам предлагается реализовать аналог класса *sklearn.linear_model.LogisticRegression*. Использовать циклы в задании запрещено, кроме итераций градиентного спуска. Напомню, что задача обучения линейного классификатора заключается в том, чтобы по выборке  $X^l$ настроить вектор весов $w$. В логистической регрессии для этого решается задача минимизации эмпирического риска с функцией потерь специального вида:
$$
Q\left(X^l, w\right) = \sum_{i=1}^{l}\log\left(1 +\exp\left(y_i\langle x_i,w \rangle\right)\right) + l_1\cdot|w| + 0.5l_2\cdot\langle w, w \rangle
$$
Здесь $\langle .,. \rangle$ $-$ скалярное произведение, $l_1, \ l_2$ $-$ параметры регуляризации.
Также привидите аналитическое выражения для вычисления градиента функции риска $\dfrac{\partial Q}{\partial w}$ в матричном виде, используйте полученное выражение при реализации функции gradf. Рассмотрите только случай бинарной классификации, то есть $Y = \{-1, 1\}$.

In [ ]:
from scipy import special
from scipy.optimize import minimize
from sklearn.base import ClassifierMixin, BaseEstimator
from sklearn.datasets import make_classification

# Используйте scipy.special для вычисления численно неустойчивых функций
# https://docs.scipy.org/doc/scipy/reference/special.html#module-scipy.special


def lossf(w, X, y, l1, l2):
    """
    Вычисление функции потерь.

    :param w: numpy.array размера  (M,) dtype = np.float
    :param X: numpy.array размера  (N, M), dtype = np.float
    :param y: numpy.array размера  (N,), dtype = np.int
    :param l1: float, l1 коэффициент регуляризатора
    :param l2: float, l2 коэффициент регуляризатора
    :return: float, value of loss function
    """
    
    # YOUR CODE HERE
    raise NotImplementedError


def gradf(w, X, y, l1, l2):
    """
    Вычисление градиента функции потерь.

    :param w: numpy.array размера  (M,), dtype = np.float
    :param X: numpy.array размера  (N, M), dtype = np.float
    :param y: numpy.array размера  (N,), dtype = np.int
    :param l1: float, l1 коэффициент регуляризатора
    :param l2: float, l2 коэффициент регуляризатора
    :return: numpy.array размера  (M,), dtype = np.float, gradient vector d lossf / dw
    """
    
    # YOUR CODE HERE
    raise NotImplementedError


class LR(BaseEstimator, ClassifierMixin):
    def __init__(self, lr=1, l1=1e-4, l2=1e-4, num_iter=1000, verbose=0):
        self.l1 = l1
        self.l2 = l2
        self.w = None
        self.lr = lr
        self.verbose = verbose
        self.num_iter = num_iter

    def fit(self, X, y):
        """
        Обучение логистической регрессии.
        Настраивает self.w коэффициенты модели.

        Если self.verbose == True, то выводите значение
        функции потерь на итерациях метода оптимизации.

        :param X: numpy.array размера  (N, M), dtype = np.float
        :param y: numpy.array размера  (N,), dtype = np.int
        :return: self
        """
        
        # YOUR CODE HERE
        raise NotImplementedError

    def predict_proba(self, X):
        """
        Предсказание вероятности принадлежности объекта к классу 1.
        Возвращает np.array размера (N,) чисел в отрезке от 0 до 1.

        :param X: numpy.array размера  (N, M), dtype = np.float
        :return: numpy.array размера  (N,), dtype = np.int
        """
        # Вычислите вероятности принадлежности каждого
        # объекта из X к положительному классу, используйте
        # эту функцию для реализации LR.predict
        
        # YOUR CODE HERE
        raise NotImplementedError

    def predict(self, X):
        """
        Предсказание класса для объекта.
        Возвращает np.array размера (N,) элементов 1 или -1.

        :param X: numpy.array размера  (N, M), dtype = np.float
        :return:  numpy.array размера  (N,), dtype = np.int
        """
        # Вычислите метку класса каждого
        # объекта из X к положительному классу, используйте
        # эту функцию для реализации LR.predict
        
        # YOUR CODE HERE
        raise NotImplementedError 


def test_work1():
    print("Start test1")
    X, y = make_classification(n_features=100, n_samples=1000)
    y = 2 * (y - 0.5)

    try:
        clf = LR(lr=1, l1=1e-4, l2=1e-4, num_iter=1000, verbose=0)
    except Exception:
        assert False, "Создание модели завершается с ошибкой"
        return

    try:
        clf = clf.fit(X, y)
    except Exception:
        assert False, "Обучение модели завершается с ошибкой"
        return

    assert isinstance(lossf(clf.w, X, y, 1e-3, 1e-3), float), "Функция потерь должна быть скалярной и иметь тип np.float"
    assert gradf(clf.w, X, y, 1e-3, 1e-3).shape == (100,), "Размерность градиента должна совпадать с числом параметров"
    assert gradf(clf.w, X, y, 1e-3, 1e-3).dtype == np.float, "Вектор градиента, должен состоять из элементов типа np.float"
    assert clf.predict(X).shape == (1000,), "Размер вектора предсказаний, должен совпадать с количеством объектов"
    assert np.min(clf.predict_proba(X)) >= 0, "Вероятности должны быть не меньше, чем 0"
    assert np.max(clf.predict_proba(X)) <= 1, "Вероятности должны быть не больше, чем 1"
    assert len(set(clf.predict(X))) == 2, "Метод предсказывает больше чем 2 класса на двух классовой задаче"
    print("End test1")

def test_work2(eps=1e-5):
    print("Start test2")
    X, y = make_classification(n_features=100, n_samples=1000)
    y = 2 * (y - 0.5)
    clf = LR(lr=1e-3, l1=1e-4, l2=1e-4, num_iter=2000, verbose=1)
    clf.fit(X, y)
    opt = minimize(lossf, np.ones(X.shape[1]), args=(X, y, 1e-4, 1e-4), method='L-BFGS-B')
    if (np.abs(opt.fun - lossf(clf.w ,X, y, 1e-4, 1e-4)) < 1e-4):
        print("Работает в рамках погрешности EPS =", eps, "!")
    else:
        print("Что-то пошло не так!-(")
    print("Start test2")
        
def test_work3(eps=1e-5):
    """
    Сравните работу вашей реализации и работы класса sklearn.linear_model.LogisticRegression 
    на двумерных синтетических данных
    """
    # YOUR CODE HERE
    raise NotImplemented
    

def main():
    test_work1()
    test_work2()
    test_work3()


if __name__=="__main__":
    main()